@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Kulim+Park:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --font-body: "Cousine", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-heading: "Kulim Park", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e8d8b5; /* beige de la maquette */
  color: #000;
  font-family: var(--font-body);
}

